* {
  font-family: 'Quicksand',
  sans-serif;
  font-weight: 400;
  margin: 0;
  box-sizing: border-box
}

.homepage {
  display: flex;
}

.home-image {
  width:33vw;
}

.left-homepage {
  height:100vh;
  display: flex;
  flex-flow: column;
  margin-left: 6em;
}

.right-homepage {
  display: flex;
  flex-flow: column;
  margin: 6em;
}

.home-options {
  margin:0.4em;
  text-decoration: underline;
  transition:0.3s;
  color:black;
  cursor: pointer;
}

.home-options:hover {
text-decoration: underline;
text-decoration-color: gold;
font-size:2.2em;
transition:0.3s;
}
