.App {
    font-family: 'Lato',
    sans-serif;
    text-align: center;
    height: 100vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.main-border {

}

.fade-in {
  animation: fadeIn 2s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.tech-list {
  list-style-position: inside;
  text-align: initial;
}

#root {
  width: 100vw;
  background: linear-gradient(to top left, #009999 0%, #99ffcc 84%);
}

.main-name {
  margin:0;
  padding-top: 15vh;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
