.fade-in {
  animation: fadeIn 3s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

h2 {
  margin: 0.4em;
  text-decoration:underline;
}

.contact-option {
  color: black;
}

.contactinfo {
  text-align: center;
  margin-top: 20vh;
}

@media only screen and (max-width: 600px) {

  .page-title {
    font-size:50px;
    margin-bottom: 0.3em;
  }

  .contact-option {
    font-size:15px;
  }

  .contactinfo {
    margin:0;
  }

  .contact-text {
    margin-bottom:1em;
  }


}