.header {
  display:flex;
  justify-content: space-evenly;
  height:2em;
}

.header-options:hover {
  font-size:1.7em;
  transition:0.5s;
}

.header-options {
  font-size:1.5em;
  transition:0.5s;
}

.selected {
  text-decoration: underline;
  pointer-events: none;
}

.project-description {
  margin-bottom: 1.5em;
  width: 45vw;
}

@media only screen and (max-width: 600px) {

  .main {
    display: none;
  }

}